#Config file for Fitting a catalogue with FAT_v3.0.pro. The order of variables doesn't matter as long as the correct parameters are given
#the first galaxy to be fitted as in line in the catalogue minus header line
startgalaxy=0
#the last galaxy to be fitted	
#if set to -1 the whole catalogue will be fitted
endgalaxy=-1
#Remove all previous pre-processing as cutting the cube
#-1=start from orginal cube
# 0=use all existing pre-processed data (i.e start from _small_opt if possible)
# 1= start from header and blank adjusted cube (i.e _preprocessed) (default)
# 2 use provided preprocessing from Sofia
allnew=1
#Parameters for finishing the fitting process early
#If set to one the program finishes after this loop, if set to 0 only pre-processing will occur
finishafter=2
# The size of the rings in number of beams
ring_size = 1.1
#Input catalogue for the pipeline
catalogue=FAT_Input_Catalogue.txt
#Directory with all the directories of the galaxies to be fitted
maindir=The/Directory/Where/The Galaxy/Directories/Reside/
#Output file for the fitting results
outputcatalogue=/The/Name/Of/The/File/That/Should/Record/The/Catalogue/Results/For/All/Galaxies.txt
#Output file for the log of the fit
outputlog=Logfileforthepergalaxyfit.txt
#trigger for creating new output
#results file 'y' or append the old one 'n'
new_output=y
#Optimal number of pixels per maj axis beam
opt_pixelbeam=4
#Hanning smoothed or not (y=1, n=0 Default=1)
velocity_resolution=1
# How much output you would like to maintain for each galaxy. 0 just organize the output and keep all (This will also happen when a fit is unsuccesful, this can be a lot of files); 1 remove optimized files, log files and input files; 2  remove optimized files, log files, input files, ps files and unsmoothed files; 3 (Default) remove optimized files, log files, input files, ps files, unsmoothed files and all model fits files except the final model; 4 keep only the def files and remove all other output. 5 indicates a failed fit clean up. >6 is the same as 0. Residuals are created for all cases where the fits files are maintained.
maps_output = 3
#If you want FAT to output a warp radius, tiltograms and warp radius set warp_output = 1
warp_output=0